* {
  box-sizing: border-box;
}

html {
  background: white;
}

body {
  font-family: 'SF Pro Text';
  font-size: 18px;
  line-height: 1.6;
  margin: 40px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}