.product {
	border: 1px solid #eee;
	padding: 20px;
	margin-bottom: 5px;
}

.product h2 {
	margin: 0;
}

.product_header {
	display: flex;
	justify-content: space-between;
}

.product button {
	background: white;
	border: 1px solid #eee;
	padding: 5px 10px;
	font-size: 20px;
}